<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
        #left {
            width: 49%;
            overflow: auto;
            float: left;
        }

        #right {
            width: 49%;
            overflow: auto;
            float: right;
        }
    </style>
    <title th:text="#{lp.title}">Title</title>
</head>
<body>
<div th:insert="navbars/librarian_navbar :: navbar">Navbar</div>
<br>
<div class="container">
    <div class="row">
        <h1 class="text-center" th:text="#{lp.head}">Librarian page</h1>
    </div>
    <br>
    <table>
        <tbody>
        <tr>
            <th th:text="#{c.login}">Login</th>
            <td th:text="${userDTO.login}">Login</td>
        </tr>
        <tr>
            <th th:text="#{c.firstName}">First name</th>
            <td th:text="${userDTO.firstName}">Name</td>
        </tr>
        <tr>
            <th th:text="#{c.lastName}">Last name</th>
            <td th:text="${userDTO.lastName}">Surname</td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="container">
        <div id="left">
            <h3 class="text-center" th:text="#{lp.headLeft}">New book orders</h3>
            <br>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th th:text="#{c.orderDate}">Order date</th>
                    <th th:text="#{c.orderType}">Order type</th>
                    <th th:text="#{c.action}" style="text-align: right;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bookOrder : ${newBookOrders}">
                    <td th:text="${#temporals.format(bookOrder.orderDate, 'dd.MM.yyyy HH:mm')}">Order date</td>
                    <td th:text="${bookOrder.orderType.type}">Order type</td>
                    <td style="text-align: right;">
                        <a th:href="@{/librarian/orders/edit/{id}(id=${bookOrder.id})}" th:text="#{c.button.edit}" class="btn btn-outline-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="right">
            <h3 class="text-center" th:text="#{lp.headRight}">Users list with open book orders</h3>
            <br>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th th:text="#{c.login}">Login</th>
                    <th th:text="#{c.user}">User</th>
                    <th th:text="#{c.action}" style="text-align: right;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.login}">Login</td>
                    <td th:text="${user.lastName} + ' ' + ${user.firstName}">User</td>
                    <td style="text-align: right;">
                        <a th:href="@{/librarian/subscriptions/{id}(id=${user.id})}" th:text="#{lp.button}" class="btn btn-outline-primary">Open</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>